module.exports = {
    bot: {
        group: 'chatangoGroup',
        credentials: {
            username: 'botuser',
            password: 'botpassword'
        },
        minimumDelayBetweenRequests: 10000 // in milliseconds
    },
    browser: {
        delayBeforeRetry: 500, // in milliseconds
        numberOfTrialsBeforeFailure: 20
    },
    giphy: {
        apiKey: 'mydeveloperkey'
    },
    ibm: {
        toneAnalyzer: {
            apiKey: 'myApiKey',
            url: 'urlToTheApi'
        }
    }
};